{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Previous</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__list__black">
        <li class="nav__column">
          <a href="{% url 'home' %}" class="nav__list-link">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav__column">
          <a href="{% url 'list' %}" class="nav__list-link">
            <i class="fas fa-list-ol nav__selected"></i>
          </a>
        </li>
        <li class="nav__column">
          <a href="{% url 'rank' %}" class="nav__list-link">
            <i class="fas fa-trophy"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="pre__title">Previous Prompt</div>
    <ul class="menu__grid">
      <li class="date__li">Date</li>
      <li class="prompt__li">Prompt (#)</li>
      <li class="first__li">1st</li>
      <li class="second__li">2nd</li>
      <li class="third__li">3rd</li>
    </ul>
    <ul class="content__grid">
      {% for elem in keywords %}
        <li class="date__li">{{elem.release_date|date:"M d"}}</li>
        <li class="prompt__li"><a href="{% url 'other_prompt' elem.id %}">{{elem.name}}</a> ({{elem.sum_of_like}})</li>
        <li class="first__li"><span class="nation"><img src="{{elem.first_nation.image.url}}"/></span></li>
        <li class="second__li"><span class="nation"><img src="{{elem.second_nation.image.url}}"/></span></li>
        <li class="third__li"><span class="nation"><img src="{{elem.third_nation.image.url}}"/></span></li>
        <br>


      {%endfor%}
    </ul>

    <!-- <script src="list.js"></script> -->
  </body>
</html>
