{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Previous</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__list__black">
        <li class="nav__column">
          <a href="{% url 'home' %}" class="nav__list-link">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav__column">
          <a href="{% url 'list' %}" class="nav__list-link">
            <i class="fas fa-list-ol"></i>
          </a>
        </li>
        <li class="nav__column">
          <a href="{% url 'rank' %}" class="nav__list-link">
            <i class="fas fa-trophy nav__selected"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="pre__title">
      Ranking by country
    </div>
    <ul class="menu__grid">
      {% for elem in length %}
      <li class="first__li">{{elem}}st</li>
      {% endfor %}
    </ul>
    <ul class="content__grid">
      {% for elem in nations %}
      <li class="first__li">{{elem.name}} | {{elem.sum_of_like}}</li>
      {% endfor %}
    </ul>

    <!-- <script src="list.js"></script> -->
  </body>
</html>
