{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Previous</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__list__black">
        <li class="nav__column">
          <a href="{% url 'home' %}" class="nav__list-link">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav__column">
          <a href="{% url 'list' %}" class="nav__list-link">
            <i class="fas fa-list-ol"></i>
          </a>
        </li>
        <li class="nav__column">
          <a href="{% url 'rank' %}" class="nav__list-link">
            <i class="fas fa-trophy nav__selected"></i>
          </a>
        </li>
      </ul>
    </nav>

    <div class="pre__title">Rank by Nation Point(click it!)</div>
    <ul class="ranking">
      {% for elem in nations %}
      <li class="nation">
        <a href="{% url 'nation_post' elem.id %}"><img src="{{elem.image.url}}" alt="" /></a>
        <div class="rank__nation">{{elem.name}}</div>
        <div class="like">total like: {{elem.sum_of_like}}</div>
        <div class="total">total post: {{elem.total_post}}</div>
        <div class="point">nation point: {{elem.nation_point}}</div>
      </li>
      {% endfor %}
    </ul>

  </body>
</html>
