{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Korean Three Word Challenge</title>
  </head>
  <body>
    <div class="pre__title">Write your three words challenge!</div>

    <form action="{% url 'create' %}" method="POST">
      {% csrf_token %}
      <p class="write__text__column">
        <span class="write__prompt">{{first}}</span>
        <input class="korean" name="first" id="first" placeholder="Korean" />
      </p>
      <!-- <p class="write__text__column">
        <input
          class="translation"
          name="first_translation"
          id="first_translation"
          placeholder="English translation(options)"
        />
      </p> -->
      <p class="write__text__column">
        <span class="write__prompt">{{second}}</span>
        <input class="korean" name="second" id="second" placeholder="Korean" />
      </p>
      <!-- <p class="write__text__column">
        <input
          class="translation"
          name="first_translation"
          id="first_translation"
          placeholder="English translation(options)"
        />
      </p> -->
      <p class="write__text__column">
        <span class="write__prompt">{{third}}</span>
        <input class="korean" name="third" id="third" placeholder="Korean" />
      </p>
      <!-- <p class="write__text__column">
        <input
          class="translation"
          name="first_translation"
          id="first_translation"
          placeholder="English translation(options)"
        />
      </p> -->

      <p class="write__name__column">
        <input class="name" name="nickname" id="nickname" placeholder="Your Name?" />
      </p>

      <select name="nation" id="nation">
        <option value="">What is your country?</option>
        {% for elem in test %}
        <option value="{{elem}}">{{elem}}</option>
        {%endfor%}
      </select>




      <p>
        <input type="submit" value="Share My Three Words!" class="submit" />
      </p>
    </form>

    <div class="prompt__info">{{exp}}</div>

    {% if messages %}
    {% for message in messages %}
        <span class="write__prompt">{{message.message}}</span>
    {%endfor%}
    {%endif%}

    <div class="prompt__info__box">
        "삼행시" is a Korean word challenge(or game) which can help learners to memorize words.<br>
        The point of the game is to make sentences starting with each syllable of a given Korean word.<br>
        There is no strict rule as long as it make sense.<br><br>
        So play with the syllables and be creative!
    </div>

    <div class="prompt__info">exemple case</div>
    <img src="{% static 'exemple.png' %}" class="exemple_image"/>


    <!-- <script src="write.js"></script> -->
  </body>
</html>
